/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

/*GENERAL STYLES*/

*{
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    flex-direction: column;
    background: radial-gradient(white, #EDED96);
    min-height: 100vh;

}

.wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 85vh;
}

a{
    text-decoration: none;
}

/*HEADER*/

#header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 70px;
    background-color: black;
    font-family: "Bebas Neue";
    box-shadow: 0px 0px 10px gray;
}

#logo{
    flex-grow: 1;
    flex-basis: 60%;
    padding-left: 5%;
}

#logo #image{
    display: flex;
    height: 65px;
}

#menu{
    flex-grow: 1;
    flex-basis: 30%;
    padding-right: 5%;
    height: 100%;
}

#menu ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    list-style: none;
    font-size: 28px;
    letter-spacing: 1px;
}

#menu a{
    display: block;
    color: white;
    padding: 15px;
    transition: all 300ms;
}

#menu a:hover{
    transform: scale(1.2, 1.2);
    color: #aad266;
}

/*EP*/

#ep-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

#ep{
    flex-grow: 1;
}

#ep img{
    display: block;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#ep-info{
    flex-grow: 1;
    padding: 20px;
}

/*ANIMATION*/

.neonText{
    animation: flicker 1.5s infinite alternate;
    color: #fff;
}

@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 25px #c30525,
        0 0 35px #c30525,
        0 0 50px #c30525,
        0 0 65px #c30525,
        0 0 80px #c30525;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }

/*END ANIMATION*/

h1{
    font-family: Montserrat;
    font-size: 45px;
    text-align: center;
    color: white;
    background-color: black;
    line-height: 70px;
    text-shadow: 0px 0px 3px #ccc;
    border-radius: 10px;
}

h2, p{
    font-family: Montserrat;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    text-shadow: 0px 0px 3px #ccc;
}

/*FOOTER*/

#footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: auto;
    height: 70px;
    background-color: black;
    box-shadow: 0px 0px 10px gray;
}
/*SOCIAL BUTTONS*/

#social{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.fa{
    margin-right: 25px;
    transition: all 300ms;
}

.fa:last-child {
    margin-right: 0px;
}

.fa:hover {
    transform: scale(1.2, 1.2);
    color: #aad266;
  }

.fa-instagram {
    background: transparent;
    color: white;
  }
  
.fa-facebook {
    background: transparent;
    color: white;
  }

.fa-youtube {
    background: transparent;
    color: white;
}

.fa-spotify {
    background: transparent;
    color: white;
}

.fa-envelope-o {
    background: transparent;
    color: white;
}

/*RESPONSIVE*/

@media (max-width:1140px){
    #header{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    #logo{
        flex-grow: 1;
        flex-basis: 100%;

    }
    
    #logo #image{
        height: 65px;
    }
    
    #menu{
        flex-grow: 1;
        flex-basis: 100%;
        height: 100%;

    }

    #ep-container{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 50px;
    }

    #ep-info {
        flex-grow: 1;
        margin-bottom: 0px;
        padding: 0px
    }

    #ep img {
        margin-left: 0px;
        margin-bottom: 60px;
    }
}

@media (max-width:800px){
    #header{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        height: 140px;
        background-color: black;
    }

    #menu {
        padding-right: 0%;
    }

    #menu ul {
        justify-content: space-around;
        height: 50%;
    }

    #logo {
        display: flex;
        justify-content: center;
        padding-left: 0%;
        align-items: center;
        height: 75px;
    }
}

@media (max-width:575px){
    h1{
        font-size: 30px;
        line-height: 50px;
    }
    
    h2, p{
        font-size: 20px;
        line-height: 40px;
    }

    #ep img{
        height: 400px;
    }
}

@media (max-width:575px){
    h1{
        font-size: 30px;
        line-height: 50px;
    }
    
    h2, p{
        font-size: 20px;
        line-height: 40px;
    }

    #ep img{
        height: 400px;
    }

    @keyframes flicker {
    
        0%, 18%, 22%, 25%, 53%, 57%, 100% {
      
            text-shadow:
            0 0 4px #fff,
            0 0 10px #fff,
            0 0 15px #fff,
            0 0 25px #c30525,
            0 0 30px #c30525,
            0 0 40px #c30525,
            0 0 50px #c30525,
            0 0 60px #c30525;
        
        }
        
        20%, 24%, 55% {        
            text-shadow: none;
        }    
      }
}

@media (max-width:400px){
    h1{
        font-size: 24px;
        line-height: 50px;
    }
    
    h2, p{
        font-size: 20px;
        line-height: 40px;
    }

    #ep img{
        height: 300px;
    }

    @keyframes flicker {
    
        0%, 18%, 22%, 25%, 53%, 57%, 100% {
      
            text-shadow:
            0 0 1px #fff,
            0 0 5px #fff,
            0 0 7.5px #fff,
            0 0 12.5px #c30525,
            0 0 17.5px #c30525,
            0 0 25px #c30525,
            0 0 34px #c30525,
            0 0 40px #c30525;
        
        }
        
        20%, 24%, 55% {        
            text-shadow: none;
        }    
      }
}

@media (max-width:345px){
    #menu ul {
        font-size: 20px;
    }

    h1{
        font-size: 20px;
        line-height: 50px;
    }
    
    h2, p{
        font-size: 20px;
        line-height: 40px;
    }

    #logo #image{
        height: 60px;
    }

    #ep img{
        height: 270px;
        margin-top: 30px;
    }

    @keyframes flicker {
    
        0%, 18%, 22%, 25%, 53%, 57%, 100% {
      
            text-shadow:
            0 0 1px #fff,
            0 0 5px #fff,
            0 0 7.5px #fff,
            0 0 12.5px #c30525,
            0 0 17.5px #c30525,
            0 0 25px #c30525,
            0 0 34px #c30525,
            0 0 40px #c30525;
        
        }
        
        20%, 24%, 55% {        
            text-shadow: none;
        }    
      }
}